---
pagination:
  data: collections.categories
  size: 1
  alias: category
  addAllPagesToCollections: true
# layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ category }}”
permalink: "/categories/{{ category | slugify }}/"
---
<h1>{{ title }}</h1>

{%- set postslist = collections.categories[category] -%}
{% include "postslist.njk" %}

<p>See <a href="/categories/">all tags</a>.</p>